.idea
__pycache__/
secrets.py
venv/
SSH/
logs/
clean_eads
defaults.json
source_marcs
source_pdfs
source_labels
source_eads
ASpace.spec
ASpace_Batching.spec
dist
build
setup_script-001.iss
setup_script-002.iss
Output
invalid_eads
harvard-schematron.xml
/creds.txt
to_tsv.xsl
Windows_Installer
Mac Installer
