.idea
__pycache__/
secrets.py
venv/
logs/
clean_eads
defaults.json
source_marcs
source_pdfs
source_labels
source_eads
ASpace_Batching.spec
dist
build
setup_script-001.iss
Output
Windows_Installer
Mac Installer
ASpace_Batch_Exporter.spec
.gitignore
